@{
  Layout = "_Layout";
}

@using PierresTreats.Models;
@model IEnumerable<PierresTreats.Models.Treat>;

<h1>All Treats</h1>
<hr />
<div class="box">
  @if(@Model.Any())
  {
    @foreach (Treat treat in Model)
    {
      <h3>@Html.ActionLink($"{treat.Description}", "Details", new {id = treat.TreatId})</h3>
      @* @foreach (FlavorTreat flavor in treat.Flavors)
      {
        <p><em>@Html.ActionLink($"{flavor.Flavor.Name}", "Details", "Flavors", new {id = flavor.FlavorId})</em></p>
      } *@
    }
  }
  else
  {
    <h3> No treats here! </h3>
  }
</div>

<p>@Html.ActionLink("Add a treat", "Create")</p>