@{
  Layout = "_Layout";
}

<hr/>
<h1>Welcome to Pierre's Sweet & Savory Treats</h1>
<hr/>

<div class="box">
  <h2>@Html.ActionLink("All Flavors", "Index", "Flavors")</h2>
  <h2>@Html.ActionLink("All Treats", "Index", "Treats")</h2>
</div>