@{
  Layout = "_Layout";
}

<hr/>
<h1>Welcome to Pierre's Sweet & Savory Treats</h1>
<hr/>
@* <pre>                                  
                              .a@a. 
                              `@@@' 
                         .,:::::::::::,. 
                     .,%%::::%%:::%:::%%%%,. 
                   .%%%%%%::%%%%:%%%:::%%%%%%. 
              .a@@@@@@@@a%%:%%%%%%%%::%%%%%%%% 
  .%%%,.     a@;@@@;@@@;@@;;%%%%%%%%%:mm:::::::::mm,.    .,%%%, 
 %%%%%%%%,;;;@;;;@@;;@@;;;@;;;%%%%mmmmm::mm:::mm:::mmmm,%%%%%%%% 
`%%%%%%%%%%;;;;;;@;;;;@;;;;;;;;;mmmmmm::mmmm::mmmm::mm%%%%%%%%%%' 
 `%%%%%%%%%%%%:::@::::::::::::::mmmmmmm:mmmmmmmmmmm:%%%%%%%%%%%' 
.\\\\,\\\\,\\\\,\\\\,\\\\,\\\\,\|/,////,////,////,/::/,////,////. 
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\|//////////////////://////////// 
   `\\\\\\\\\\\\\\\\\\\\\\\\\\\\|/////////////////://////////' 
        `\\\\\\\\\\\\\\\\\\\\\\\|/////////////////://///' 
             `\\\\\\\\\\\\\\\\\\|///////////////////' 
                   `\\\\\\\\\\\\|////////////' 
                          `\\\\\|/////'          ; 
                            `\\\|///'           .:. 
                              \\|//            ::::: 
                           .,///|\\\,.         ::::: 
                        .///////|\\\\\\\.</pre> *@