@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h2>
<hr/>
<div class="box">
    <h3>Delete @Html.DisplayFor(model => model.Name)?</h3>
  @using (Html.BeginForm())
  {
    <button class="btn" type="submit">Confirm Delete</button>
  }
</div>

<p>@Html.ActionLink("Back to flavor list", "Index")</p>